#h1{
  color:white;

}

.faq-section {
 
  margin: auto;
  padding: 40px 20px;
  background: linear-gradient(to right, #000000, #6d28d9);
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;


}

.faq-item {
    background: linear-gradient(to right, #000000, #6d28d9);
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color:white;
}

.faq-answer {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  color: #15c1ec;
}
