#h2{
  color:white;
}
.testimonials-section {
  padding: 50px 20px;
  text-align: center;
    background: linear-gradient(to right, #000000, #6d28d9);
}

.testimonials-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.testimonial-card {
  background: linear-gradient(135deg, #b854bb, #59c0d2 ,#1976d2); 
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #111;
}

.testimonial-card p {
  margin-bottom: 10px;
  color: #555;
}

.rating {
  font-weight: bold;
  color: #ff9800;
}
