.services-container {
  text-align: center;
    background: linear-gradient(to right, #000000, #6d28d9);
}

.services-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.service-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  width: 300px;
  padding: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.tags span {
  display: inline-block;
  background: #0070b6;
  color: #fefefe;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}
#h{
    color:rgb(251, 251, 251);
  
  
    
}


